/* Tableau de contenu :

    1 - Elèments principaux
        A- HTML/Body.
        B- Titre/Paragraphe.
        C- Formulaire.
    2- Header
        A- Titre.
        B- Navigation.
    3- Footer.
    4- Accueil.
        A- Bannière.
        B- Contenu.
        C- Liste d'article.
    5- A Propos.
    6- Livres.
        A- Contenu.
    7- Contact.
        A- Titre/Paragraphe.
        B- Carte.
    8- Articles.
        A- Affichage articles.
        B- Commentaires.
    9- Admin.
        A- Tableau.
    10- Responsives.
        A- Menu.
        B- Accueil.
        C- Livre.
*/


/* ------------------- 
    1- Elèments principaux.
   ------------------- */

/* --- A- HTML/Body --- */

html {
    overflow-x: hidden!important;
}
body {
    color: black;
    background: white;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* --- B- Titre/Paragraphe --- */

h1, h2, h3 {
    font-family: 'ABeeZee', sans-serif;
}

p, a {
    font-family: 'Nunito Sans', sans-serif;
}

p {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: initial!important;
}

li {
    list-style-type: none;
}

a {
    color: #144760;
    text-decoration: none;
}

button a {
    text-decoration: none;
}

/* --- C-  Formulaire. --- */

input {
    width             : 220px;
    padding           : 5px;
    margin-top        : 20px;
    margin-left       : 5px;
}

textarea {
    width             : 220px;
    height            : 150px;
    padding           : 5px;
    margin-top        : 20px;
    margin-left       : 5px;
}

label {
    display: none;
}

/* ------------------- 
    2- Header.
   ------------------- */

header {
    display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: fixed;
	z-index: 1000;
	background-color: #144760;
	right: 0;
    top: 0;
	left: 0;
	height: 64px;
	padding-bottom: 5px
}


/* --- A- Titre --- */

#titre_header
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
    margin-left: 20px;
}

#titre_header h1 {
    color: white;
    font-weight: bold;
}


/* --- B- Navigation --- */

header nav ol
{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

header nav li
{
	margin-right: 15px;
}

header nav a
{
	text-decoration: none;
	color: white;
    font-size: 1em;
    font-weight: bold;
}

header nav a:hover
{
    color: #95c4db;
    border-bottom: 3px solid;
    padding-bottom: 5px;
}

/* ------------------- 
    3- Footer.
   ------------------- */

footer
{
    background-color:#144760;
    width: 100vw;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

footer a {
    color: white;
}

footer p
{
    color: white;
    text-align: start;
}

/* ------------------- 
    4- Accueil.
   ------------------- */

#indexImg {
    width: 100vw;
    height: 600px;
    margin-top: -150px;
    margin-bottom: 80px;
}

/* --- A- Bannière --- */

#banniere {
    display: flex;
    justify-content: center;

}

#banniere img {
    width: 500px;
    box-shadow: 0px 5px 15px lightgray;
    margin-left: 80px;
}

#banniere_texte {
    margin-left: 100px;
    margin-top: 50px;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banniere_bouton {
    text-align: center;
    width: 150px;
    margin-top: 35px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px lightgrey;
    font-weight: bold;
    background-color: white;
    color: #545454;
}

/* --- B- Contenu --- */

.contenu {
 margin-top: 80px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
}

#titre {
    margin-bottom: 50px;
}

/* --- C- Liste d'article. --- */

#les_billets {
    margin-top: 120px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.billets {
  
  width: 40vw;
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 5px 15px lightgrey;
}

.billets_image img {
    width: 100%;
}

.billets_texte {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.billets_bouton {
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px lightgrey;
    font-weight: bold;
    background-color: white;
    color: #545454;
}

/* ------------------- 
    5- A Propos.
   ------------------- */

#aProposImg {
    width: 100vw;
    height: 600px;
    margin-top: -150px;
    margin-bottom: 80px;
}

/* ------------------- 
    6- Livres.
   ------------------- */

#livresImg {
    width: 100vw;
    height: 600px;
    margin-top: -150px;
    margin-bottom: 80px;
}

.livres {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* --- A- Contenu --- */

.livres img {
    width: 500px;
    box-shadow: 0px 5px 15px lightgray;
}

.livres_texte {
    margin-left: 100px;
    margin-top: 50px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.livres_bouton {
    text-align: center;
    width: 150px;
    margin-top: 35px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px lightgrey;
    font-weight: bold;
    background-color: white;
    color: #545454;
}

/* ------------------- 
    7- Contact.
   ------------------- */

#infos_contact {
    width: 350px;
    height: 600px;
    background-color: white;
    box-shadow: 0px 5px 15px lightgrey;
    margin: 50px;
}

/* --- A- Titre/Paragraphe. --- */

#infos_contact p {
    width: 250px;
}

#infos_contact h2 {
    margin-top: 50px;
    margin-bottom: 80px;
}

/* --- B- Carte. --- */

iframe {
    width: 100vw;
    height: 600px;
    margin-top: -150px;
    margin-bottom: 80px;
    border: none;
}


/* ------------------- 
    8- Articles.
   ------------------- */

/* --- A- Affichage article. --- */

.les_articles {
    margin-top: 150px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    width: 70vw;
    margin-top: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px lightgrey;
}

.article_img img {
    width: 100%;
}


/* --- B-  Commentaires. --- */

.reponses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin-top: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px lightgrey;
}

.commentaire {
    width: 40vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
}

.commenter {
    width: 40vw;
    margin-top: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px lightgrey;
    padding-top: 30px;
    padding-bottom: 50px;
}

.commenter input {
    width: 20vw;
}

.commenter textarea {
    width: 20vw;
}
/* ------------------- 
    9-  Admin.
   ------------------- */

/* --- A- Tableau. --- */

.admin h2 {
    margin-top: 50px;
}

table {
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px lightgrey;
    border-collapse: collapse;
    margin-top: 20px;
    }
    th {
    font-family: monospace;
    border: 1px solid lightgrey;
    padding: 8px;
    }
    td {
    font-family: sans-serif;
    border: 1px solid lightgrey;
    padding: 8px;
    text-align: center;
    }
    tr:hover {
        background-color: lightgrey;
    }

/* ------------------- 
    10-  Responsive.
   ------------------- */
   @media (max-width: 1024px)
   {
   
/* --- A- Menu. --- */
header {
    height: 200px;
}
header nav ol {
    flex-direction: column;
}

header nav li {
    padding: 3px;
}
   
/* --- B- Accueil. --- */

#banniere {
    flex-direction: column;
}

#banniere img {
    width: 50vw;
}

#articles {
    flex-direction: column;
}

/* --- C- Livres. --- */

.livres {
    flex-direction: column;
}

.livres img {
    width: 50vw;
}

   }



