/* Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
   pixels, em, autres unités...).
   Si la hauteur du parent est en pourcentage, elle se réfère alors à la
   hauteur du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */
html {
    overflow-x: hidden!important;
}
body {
    color: black;
    background: white;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1, h2, h3 {
    font-family: 'ABeeZee', sans-serif;
}

p, a {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: fixed;
	z-index: 1000;
	background-color: #144760;
	right: 0;
    top: 0;
	left: 0;
	height: 64px;
	padding-bottom: 5px
}

#titre_header
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
    margin-left: 20px;
}

#titre_header h1 {
    color: white;
    font-weight: bold;
}

header nav ol
{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

header nav li
{
	margin-right: 15px;
}

header nav a
{
	text-decoration: none;
	color: white;
    font-size: 1em;
    font-weight: bold;
}

header nav a:hover
{
    color: #95c4db;
    border-bottom: 3px solid;
    padding-bottom: 5px;
}

#banniere {
    display: flex;
}

#banniere img {
    width: 500px;
    box-shadow: 0px 5px 15px lightgray;
}

#banniere_texte {
    margin-left: 100px;
    margin-top: 50px;
}

#banniere_bouton {
    text-align: center;
    width: 150px;
    margin-top: 35px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px lightgrey;
    font-weight: bold;
    background-color: white;
    color: #545454;
}

#contenu {
 margin-top: 80px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
}

footer
{
    background-color:#144760;
    width: 100vw;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p
{
    color: white;
    text-align: start;
}